<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<!-- saved from url=(0061)http://www.qa.way2automation.com/frames-windows/frameset.html -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>HTML Frames</title>
 </head><frameset rows="60%,40%">
  <frame src="/frame2" name="topFrame">
  <frame src="/frame3" name="contentFrame">




</html>