<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sakinalium Demo Site">
    <meta name="author" content="Sakinalium">
    <title>Demo | Sakinalium</title>
    <!-- core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="images/ico/favicon-1.ico">
</head>
<!--/head-->
<body class="homepage">
<header id="header">
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-2"> <a class="navbar-brand" href="/index"><img src="images/logo.png" alt="logo"></a> </div>
                <div class="col-sm-8 col-xs-8 title" align="center">
                    <h1>Sakinalium Demo Site</h1>
                </div>
            </div>
        </div>
        <!--/.container-->
    </div>
    <!--/.top-bar-->
    <nav class="navbar navbar-inverse" role="banner" style="border-bottom: 1px solid #00579a;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/index">Home</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/table">Web Table</a></li>
                    <li><a href="/alerts">Alerts</a></li>
                    <li><a href="/frame-window">Frames & Windows</a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Widgets <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/accordion">Accordion</a></li>
                            <li><a href="#">AutoComplete</a></li>
                            <li><a href="#">Datepicker</a></li>
                            <li><a href="#">Slider</a></li>
                            <li><a href="#">Tooltip</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Interactions <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Drag and Drop</a></li>
                            <li><a href="#">Resizable</a></li>
                            <li><a href="#">Selectable</a></li>
                            <li><a href="#">Sortable</a></li>
                        </ul>
                    </li>
                    <li><a href="/video">Video</a></li>
                    <li>&nbsp;</li>
                </ul>
            </div>
        </div>
        <!--/.container-->
    </nav>
    <!--/nav-->
</header>
<!--/header-->
<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <div class="carousel-inner">
            <div class="item active" style="background-image: url(/images/slider/bg1.jpg)">      </div>
            <!--/.item-->
        </div>
        <!--/.carousel-inner-->
    </div>
    <!--/.carousel-->
</section>
<!--/#main-slider-->
<section id="feature" >
    <div class="container">
        <div class="center wow fadeInDown">
            <h1>What is Sakinalium?</h1>
            <p>Sakinalium is an Automation testing tool built on Selenium Webdriver and Appium with JAVA and C# to automate web applications and mobile applications very easily. You will definitely enjoy while working with Sakinalium as you never feel that you working with some difficult automation commands,configurations and settings. While using the methods in the IDE you feel that you writing manual test cases in the automation tool. Every command is simple and selfexplanatory. Being an open source it offers so many features like licenced tools … :)</p>
            <p>You can easily create, maintain and run the automation scripts and find all the bugs in the application as it will never quit execution when finds a bug. Instead it will continue the execution and report all the bugs at the end of the execution.</p>
            <p>To work with Sakinalium, we require a unit test framework. Sakinalium will only works with the TestNg framework in Java,Nunit in C# and need to download Sakinalium and its dependent jars/dlls into your current workspace and then extend the Sakinalium class. To generate the reports, you need to call two methods called StartTest() and it should be the first line in every test method, ReportGenerate() and it should be called after each test method execution. That is it, now you can start writing the automation scripts and generate the HTML Reports… Happy Scripting:-)</p>
        </div>
        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap"> <i class="glyphicon glyphicon-book"></i>
                        <h2>Readability</h2>
                        <p>This Automation Testing API is very simple to read and understand. Every method in this is self explanatory. If a layman look into this code/script can understand what is happening. You can read the automation script like manual test case.</p>
                    </div>
                </div>
                <!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap"> <i class="glyphicon glyphicon-minus"></i>
                        <h2>Single Line Coding</h2>
                        <p>In this Automation tool, each and every functionality will be achieved by Single line code. i.e. Selecting a Value from dropdown, Switching between windows and Drag and Drop functionality etc...</p>
                    </div>
                </div>
                <!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap"> <i class="glyphicon glyphicon-retweet"></i>
                        <h2>Browserstack Integration</h2>
                        <p>Sakinalium is integrated with Browserstack to check the browser compatability of the application. You can test the application compatibility with different type of browsers, versions, operating systems and resolution.</p>
                    </div>
                </div>
                <!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap"> <i class="glyphicon glyphicon-globe"></i>
                        <h2>Cross-Browser Testing</h2>
                        <p>Test your web application across the most popular browsers including Firefox,Chrome and Internet Explorer to validate the functionality. You can easily switch between the browsers without changing the code.</p>
                    </div>
                </div>
                <!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap"> <i class="glyphicon glyphicon-screenshot"></i>
                        <h2>Element Screenshot</h2>
                        <p>Validate your application graphical user interface to check it against the application’s requirement as it will take the specified element screenshot and stores. You can validate the same against the application.</p>
                    </div>
                </div>
                <!--/.col-md-4-->
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap"> <i class="glyphicon glyphicon-list-alt"></i>
                        <h2> Excel Read/Write</h2>
                        <p>Execute your test suite multiple times with data driven testing using Excel read write methods without any configuration.</p>
                    </div>
                </div>
                <!--/.col-md-4-->
            </div>
            <!--/.services-->
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<!--/home content-->
<!--/#bottom-->
<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6"> &copy; 2015 <a target="_blank" href="#" title="Sakinalium Demo Site">Sakinalium</a>. All Rights Reserved. </div>
            <div class="col-sm-6 social pull-right"> <a href="#" class="link facebook" target="_blank"><span class="fa fa-facebook-square"></span></a> <a href="#" class="link twitter" target="_blank"><span class="fa fa-twitter-square"></span></a> <a href="#" class="link linkedin" target="_blank"><span class="fa fa-linkedin-square"></span></a> <a href="#" class="link google-plus" target="_blank"><span class="fa fa-google-plus-square"></span></a> </div>
        </div>
    </div>
</footer>
<!--/#footer-->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/wow.min.js"></script>
</body>
</html>
